# C++ compilation objects
*.o
*.c

# Temp build
run-bot

# Backup files
*.backup

# Environment variables
.env

# CMake build files
cpp-source/.cache/
cpp-source/build/

# 3rd-party dependencies
cpp-source/external/

test/
