# C++ compilation objects
*.o
*.c

# Temp build
run-bot

# Backup files
*.backup

# Environment variables
.env

# CMake build files
build/
.cache/

# 3rd-party dependencies
external/

# all C++ build files
cpp-src/
